<div class="center ">
 <h1>自衛隊に入隊したいけど不安な君へ</h1>
 <h2>初めまして、元自衛官Zです。あなたはなぜこのサイトに訪れたのでしょうか？<br>
    もし、来訪の理由がタイトルの通りなら絶対に損はさせません。<br>
    このサイトを訪れるくらいなので前もって情報収集をなされたのでは無いでしょうか？<br>
    しかし、web 上の情報は本当なのか？と確信が持てないはずです。<br>
    なぜなら、あなたは実際にご入隊なされていないからです。<br>
    私がこのサイトを設立した目的は、自衛官になるという道を手助けしたかったからです<br>
    なぜ自衛隊に入隊という道を勧めたいのか？<br>

    その1<br>
    世の中のデマに流されず何事にもチャレンジして欲しいと願っているからです。<br>
    （自衛隊に対する偏見が多すぎる。百聞は一見に如かず、百見は一行に如かずです。）<br>

    その2<br>
    命について向き合えるからです。<br>
    (入隊後に遺書を書きます)<br>

    もし本当に入隊したいのであれば、下記の『もしかして入隊希望？』でユーザ登録をして下さい。<br>

    あなたが本当に必要としている情報がきっと手に入るはずです。<br>

    また陸海空問わず自衛官だった人、もしくは自衛官の方の積極的なご参加をお待ちしております。<br>

    未来の後輩のためにお力添えをお願いします。<br>
 </h2>

 <%= link_to "もしかして入隊希望？", signup_path, class: "btn btn-lg btn-primary  center-block" %>
</div>
