<h1>自衛隊に入隊したいけど不安な君へ</h1>
<p>初めまして、元自衛官Zです。<br>

あなたはなぜこのサイトに訪れたのでしょうか？<br>

もし、来訪の理由がタイトルの通りなら絶対に損はさせません。<br>

その意思はとても尊重すべきものです。<br>

しかし未知なるものの恐怖に打ち克つには、少し情報が足りません。<br>

このサイトを訪れるくらいなので前もって情報収集をなされたのでは無いでしょうか？<br>

しかし、web 上の情報は本当なのか？と確信が持てないはずです。<br>

なぜなら、あなたが実際にご入隊なされていないからです。<br>

また、すでに自衛隊の窓口である地方協力本部にコンタクトをとっているのであれば、<br>

その人が仰ることは本当なのか？<br>

と疑念に駆られることもあるでしょう。<br>

結論から申し上げると地本の人の話は本当ですが、大切なことは言っていないというのが正解です。<br>

もしくは、悪辣な人であれば少々の本当では無いことを織り交ぜてくるでしょう。<br>



私がこのサイトを設立した目的は、何も自衛隊を陥れる為ではございません。<br>

むしろ、自衛官になるという道を手助けしたくてこのサイトを立ち上げたのです。<br>


なぜ自衛隊に入隊という道を勧めたいのか？<br>


その１<br>
自衛隊という組織が総合的に良いからです。<br>
（総合的に良いということは、もちろん悪い面もあります。）<br>

その２<br>
世の中のデマに流されず何事にもチャレンジして欲しいと願っているからです。<br>
（自衛隊に対する偏見が多すぎる。百聞は一見に如かず、百見は一行に如かずです。）<br>

その３<br>
国を背負うということに触れることができるからです。<br>
(私にはものすごく重たいと感じました。)<br>

その４<br>
命について向き合えるからです。<br>
(入隊後に遺書を書きます)<br>

注　私は右翼ではありません。<br>


実際に私は除隊していますので、ものすごく良いということはありません。<br>

除隊理由も私のユーザーアカウントで述べます。<br>



もし本当に入隊したいのであれば、下記の『もしかして入隊希望？』でユーザ登録をして下さい。<br>

あなたが本当に必要としている情報がきっと手に入るはずです。<br>

また陸海空問わず自衛官だった人、もしくは自衛官の方の積極的なご参加をお待ちしております。<br>

未来の後輩のためにお力添えをお願いします。<br>

また管理人が認定している人は確実に元自衛官もしくは現役の自衛官です。<br>
</p>
