<% provide(:title, "登録ユーザー") %>

<div class="pagination">
 <h1>登録ユーザー</h1>
 <%= will_paginate %>
 <ul class="users">
  <% @users.each do |user| %>
   <%= render user %>
  <% end %>
 </ul>
  <%= will_paginate %>
</div>
