<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
      <%= @user.name %>
      <div class="image">
      <%= image_tag @user.image.url if @user.image.present? %>
      </div>
      </h1>
    </section>
  </aside>
</div>
