<%= provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-4">
    <%= render 'static_pages/user_info' %>
  </div>
  <div class="col-md-8">
    <%= render 'posts/post' if @posts.any? %>
    <%= render 'questions/question' if @questions.any? %>
  </div>
</div>
