<%= provide(:title, "記事") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= render "static_pages/user_info" %>
    </section>
  </aside>
  <aside class="col-md-8">
    <%= render 'private_post' %>
  </aside>
</div>
